.container {
  background-color: #3798d4;
  display: flex;
  justify-content: center;
  align-self: stretch;
  gap: 8px;
  padding: 8px;
}



.compose_area {
  max-width: 640px;
  display: flex;
  width: 100%;
  gap: 8px;
}

.compose_area>input {
  flex: 1;
  border: 2px solid #2e77a4;
  border-radius: 4px;
  padding: 8px;


  outline: none;

}

.compose_area>input:focus {
  box-shadow: 0px 0px 6px 0px #fff;
  ;
}

button {
  all: unset;
  background-color: #ff876d;
  color: #FFF;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 700;

  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}