@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

::-webkit-scrollbar {
    width: 8px;
    border: 0;
    background: transparent;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
    border: 0;
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    background: #bdbdbd;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: fff;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    background: #f4f4f4;
}