.container {
  display: flex;
  padding-inline: 24px;
  width: 100%;
  max-width: 640px;
}

.container:first-child {
  padding-top: 16px;
}

.container:last-child {
  padding-bottom: 16px;
}

.is_you {
  flex-direction: row-reverse;
}



.message_box {
  background-color: #fff;
  border: 2px solid #d4dade;
  border-radius: 4px;
  padding: 16px;
  max-width: 65%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.is_you>.message_box {
  background-color: #fcf6c5;
  align-items: flex-end;
}

.grey_text {
  display: block;
  font-size: 12px;
  font-weight: 600;
  opacity: 0.3;
  color: #000;
}